<h1>{{ recurso.nome }}</h1>

<p><strong>Descrição:</strong> {{ recurso.descricao }}</p>
<p><strong>Tipo:</strong> {{ recurso.tipo }}</p>
<p><strong>Link:</strong> <a href="{{ recurso.url }}">{{ recurso.url }}</a></p>
<p><strong>Gratuito:</strong> 
    {% if recurso.gratuito %}
        Sim
    {% else %}
        Pago
    {% endif %}
</p>
<p><strong>Prestígio:</strong> {{ recurso.prestigio }}</p>
<p><strong>Data:</strong> {{ recurso.data_catalogacao }}</p>


<hr>

<!-- Botão de Voto -->
<form action="{% url 'votar_prestigio' recurso.id %}" method="post">
    {% csrf_token %}
    <button type="submit">👍 Curtir</button>
</form>

<br>

<!-- Editar -->
<a href="{% url 'editar_recurso' recurso.id %}">
    Editar Recurso
</a>

<br><br>

<!-- Excluir -->
<a href="{% url 'excluir_recurso' recurso.id %}">
    Excluir Recurso
</a>

<br><br>

<a href="{% url 'recursos_por_tema' recurso.tema.id %}">Voltar</a>
